html {
  height: 100%;
}

.speak-and-spell {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #8c211c;
  font-family: 'Press Start 2P', monospace;
  font-size: 14px;
}

.header {
  padding: 20px 20px 30px;
  margin: 0 auto;
  max-width: 800px;
}

.header__title {
  margin: 0 0 10px;
  line-height: 1.4;
  color: #ffffff;
}

.header__warning {
  margin: 0;
  line-height: 1.4;
  color: #ffffff;
}

.text-output {
  margin: 0 0 40px;
  width: 100%;
  height: calc(100% - 340px);
  min-height: 90px;
  max-height: 380px;
  background-color: #000;
}

.text-output__textarea {
  display: block;
  margin: 0 auto;
  border: 0;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 800px;
  background-color: #000;
  font-family: 'Press Start 2P', monospace;
  font-size: 40px;
  line-height: 1.4;
  color: #90ee90;
}

.text-output:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}

.languages {
  padding-top: 10px;
  color: black;
}

.languages__toggle {
  cursor: pointer;
  color: black;
}

.languages__toggle--is-active {
  color: #8c211c;
  display: inline-block;
  border-bottom: 3px solid #8c211c;
}

.actions {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  width: calc(100% - 40px);
  background-color: #d5ee90;
  box-sizing: border-box;
}

.actions--red {
  padding: 10px;
  background-color: #8c211c;
}

.actions--blue {
  padding: 10px;
  background-color: #ffffff;
}

.actions__action {
  display: block;
  color: black;
  line-height: 1.6;
}

.source {
  margin: 0 auto 30px;
  padding: 0 20px;
  max-width: 800px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  text-align: right;
  color: #ffffff;
}

.source--link {
  color: #ffffff;
  text-decoration: none;
  font-size: 11px;
}
